html {
  font-size: 10px;
  background: url(https://shawnfc.github.io/make-beats/make-beats/images/background-communication-compose-1537689.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.overlay {
  background-color: rgba(0,0,0,0.8);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  z-index: 1000;
}

h1 {
  color: white;
  font-size: 6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align: center;
}

h2 {
  align-self: flex-end;
  color: #adadad;
  font-size: 1.6em;
  font-weight: 400;
  margin-right: 20px;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(58, 58, 58);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .2rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #16eb80;
  box-shadow: 0 0 1rem #16eb80;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #16eb80;
}
